gradescope-utils>=0.4.0
jupyter>=1.0.0
matplotlib>=3.2.2
matplotlib-inline>=0.1.2
networkx>=2.6.3
numpy>=1.21.6
pandas>=1.3.5
scipy>=1.7.3
scikit-learn>=1.0.2
pillow>=7.1.2
torch==2.0.0+${DEVICE}
python-louvain==0.16
torch-scatter
torch-sparse
torch-geometric
ogb
deepsnap